---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

// Server Only
const name = "Leonardo De la cruz"
---

<Layout title="Home">

	<!-- Mostrar las variables de JS en Astro -->
	<h1>{name}</h1>

	<p>Momento actual {new Date().toLocaleTimeString()}</p>
	<p class="real-moment"></p>

	<footer>
	</footer>

	<script>
		const currentYear: number = new Date().getFullYear();

		const footer = document.querySelector('footer') as HTMLElement;
		footer.innerHTML = `© Leonardo De la cruz ${currentYear}`;

		const realMoment = document.querySelector('.real-moment') as HTMLElement;
		setInterval(() => {
			realMoment.innerHTML = `Momento actual ${new Date().toLocaleTimeString()}`;
		}, 1000);
	</script>
</Layout>
